[submodule "Project Templates/Testing/Testable Three20 View-Based Application/Frameworks/three20"]
	path = Project Templates/Testing/Testable Three20 View-Based Application/Frameworks/three20
	url = git://github.com/joehewitt/three20.git
